@media (min-width: 761px) {
.aboutMeContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.aboutMeText{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    --height-aboutMe: 50vh;
    height: var(--height-aboutMe);
    width: 100%;
    display: flex;
}
.leanImage{
    width: 30%;
    shape-outside: url(src/assets/leanImage.png);
    shape-margin: 25px;
    mask-image: linear-gradient(
        black 80%,
         transparent
    );
    position: absolute;
    left: -17em;
    filter: drop-shadow(0 -3px 6px rgba(255, 255, 255, 0));
    transition: left 0.5s ease-in-out, filter 0.5s ease-in-out;
}
h2{
    height: var(--height-aboutMe);
    font-size: 1.5em;
    width: 100%;
    transition: width 1s ease-in-out;
}
.aboutMeContainer:hover{
    .leanImage{
        left:0;
        filter: drop-shadow(0 -5px 3px rgba(255, 255, 255, 0.438));
        transition: left 0.5s ease-in-out, filter 0.7s ease-in-out;
    };
    h2{
        /* -webkit-text-stroke: 3px rgb(0, 0, 0); */
        height: var(--height-aboutMe);
        width: 70%;
        font-size: 35px;
        font-weight: 900;
        transition: width 1s ease-in-out;
    }
    .sectionTitle{
        font-size: 2.5em;
        font-weight: 800;
        margin-bottom: 20px;
        color: #646cff;
        text-align: center;
        width: 100%;
    }
}
}
@media (max-width: 461px) {
    .aboutMeText{
    display: flex;
    --height-aboutMe: 50vh;
    height: var(--height-aboutMe) ;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    }
    .leanImage{
    width: 50%;
    height: 350px;
    shape-outside: url(src/assets/leanImage.png);
    shape-margin: 25px;
    mask-image: linear-gradient(
        black 80%,
         transparent
    );
    }
    h2{
        font-size: 15px;
        width: 100%;
    }
}
@media (min-width: 761px) {
    h2{
        font-size: 25px;
    }
}

