.footerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 300px;
    background-color: #121212;
    color: white;
    gap: 20px;
    padding: 20px;
}
.formSection{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 30%;
}
.contactForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 15px;
}
.contactForm input, .contactForm textarea{
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1em;
    font-family: inherit;
}
.logoSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    gap: 15px;
}
.footerLogo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.footerLogo:hover{
    box-shadow: 0 0 20px rgb(146, 36, 197);
    transition: box-shadow 0.3s ease-in-out;
}
.redesSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 20%;
    height: 150px;
    gap: 15px;
    margin-top: -45px;
}
.svgLogo{
    width: 45px;
    height: 45px;
    background-color: white;
    border-radius: 10px;
}
.svgLogo:hover{
    box-shadow: 0 0 20px rgb(146, 36, 197);
    transition: box-shadow 0.3s ease-in-out;
}