.footerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 60vh;
    background-color: #121212;
    color: white;
    gap: 20px;
    padding-top: 5em;
    margin-top: 50px;
    position: relative;
}
.fotterTitle{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.contactSection{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: em;
    margin-bottom: 50px;
}
.formSection{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 40%;
}
.contactForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 20px;
}
.contactForm input, .contactForm textarea{
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 1em;
    font-family: inherit;
}
.logoSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 15%;
}
.footerLogo{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: white 5px solid;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
@property --angulo {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}
@keyframes girar {
    0% {
       --angulo: 0deg;
    }
    100% {
        --angulo: 360deg;
    }   
}
.footerLogoLigth{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 2em;
    right: 0;
    width: 200px;
    height: 200px;
    background: conic-gradient(from var(--angulo),  #ff0000, #ffd311, #00fff7, #ff00c8, #ff0000);
    filter: blur(55px);
    z-index: -1;
    border-radius: 50%;
    display: none;
}
.logoSection:hover{
    .footerLogoLigth{
        display: block;
        z-index: 1;
        animation: girar 5s linear infinite;
    }
}
.redesSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 15%;
    height: 150px;
    position: relative;
    gap: 10%;
}
.nombreFooter{
    text-align: center;
}
h2.socialTitle{
        position: absolute;
        top: -5em;
        text-align: start;
        display: none;
    }
.linkRedes{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: white;
    cursor: pointer;
    position: relative;
}
.svgLogo{
    width: 45px;
    height: 45px;
    background-color: white;
    border-radius: 10px;
    z-index: 1;
}
.svgLigths{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: conic-gradient(from var(--angulo),  #ff0000, #ffd311, #00fff7, #ff00c8, #ff0000);
    filter: blur(25px);
    border-radius: 10px;
    display: none;
}
.linkRedes:hover{
    .svgLigths{
        z-index: 2;
        display: block;
        animation: girar 5s linear infinite;
        transition:box-shadow 0.3s ease-in-out;
    }
}
.buttonContact{
    position: relative;
    z-index: 1;
    border: none;
}
.buttonContactLigth{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    border-radius: 10px;
    border: none;
}
.buttonContact:hover{
    background-color: rgba(201, 201, 200, 0.381);
    color: rgb(200, 203, 200);
    .buttonContactLigth{
        background: conic-gradient(from var(--angulo),  #ff0000, #ffd311, #00fff7, #ff00c8, #ff0000);
        filter: blur(15px);
        animation: girar 5s linear infinite;
        transition: box-shadow 0.3s ease-in-out;
    }
}
@media (max-width: 768px) {
    .footerContainer{
        flex-direction: column;
        height: auto;
        padding-bottom: 30px;
    }
    .contactSection{
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding-top: 25%;
    }
    .formSection{
        width: 80%;
    }
    .logoSection{
        width: 50%;
        align-items: center;
    }
    .redesSection{
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        width: 100%;
        padding-top: 8em;
        
    }
    h2.socialTitle{
        display: block;
        position: absolute;
        top: 0;
        left:0;
        bottom: 0;
        right: 0;
        text-align: center;
    }
}@media (max-width: 480px) {
    .footerContainer{
        flex-direction: column;
    }
    .contactSection{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        padding-top: 20%;
    }
    .logoSection{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .nombreFooter, p {
        text-align: center;
    }
    .redesSection{
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;
        width: 100%;
        padding-top: 8em;
        
    }
    h2.socialTitle{
        display: block;
        position: absolute;
        top: 0;
        left:0;
        bottom: 0;
        right: 0;
        text-align: center;
    }
    .footerLogo{
        width: 120px;
        height: 120px;
    }
    .svgLogo{
        width: 35px;
        height: 35px;
    }
    .svgLigths .buttonContactLigth .footerLogoLigth{
        display: none;
    }
}

