
.navButton{
    width: 100%;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.4em;
    font-size: 20px;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: padding-top 0.2s ease-in-out;
}
.navButton:hover{
    font-size: 20.5px;
    box-shadow: 0 0 20px rgb(146, 36, 197);
    transition: box-shadow 0.3s ease-in-out, font-size 0.2s ease-in-out;
}
.leanLogo{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    left: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
}
.leanLogo:hover{
    width: 75px;
    height: 75px;
    box-shadow: 0 0 20px rgb(146, 36, 197);
    transition: box-shadow 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
}
.navLogo{
    position: absolute;
    top: 5px;
    left: 5px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contHeader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--header-height);
    font-size: 35px;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: #0b0b0bcf;
    padding-bottom: 15px;
}
a{
    text-decoration: none;
    color: inherit;
    padding: 5px;
    margin: 5px;
}