.proyectosContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.listaProyectos,.listaProyectos2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}
.linkAProyecto{
    text-decoration: none;
    width: 300px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.5s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out;
}
span{
    display: none;
}
.linkAProyecto:hover{
    height: 170px;
    box-shadow: 0 0 20px rgb(146, 36, 197);
    transition: box-shadow 0.5s ease-in-out;
    span{
        display: block;
        text-align: center;
        margin-top: 5px;
        color: #b5b0b3;
    };
}
.linkAProyecto img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
}